<div class="card" style="margin: 2rem;">
	<form [formGroup]="addJobFormGroup" (ngSubmit)="onSubmit()">
		<div class="row" style="padding: 1rem;">
			<div class="col-md-6" style="margin-bottom:1rem">
				<mat-form-field appearance="outline" floatLabel="always">
					<mat-label>Job Title</mat-label>
					<input matInput formControlName="jobTitle" />
					<mat-error style="color: red;"
						*ngIf="checkError('jobTitle', 'required')">Job Title is required</mat-error>         
				</mat-form-field>
			</div>
			<div class="col-md-6" style="margin-bottom:1rem">
				<mat-form-field appearance="outline" floatLabel="always">
					<mat-label>Job Code</mat-label>
					<input matInput formControlName="jobCode" />         
					<mat-error style="color: red;"
						*ngIf="checkError('jobCode', 'required')">Job Code is required</mat-error>         

				</mat-form-field>
			</div>
			<div class="col-md-6" style="margin-bottom:1rem">
				<mat-form-field appearance="outline" floatLabel="always">
					<mat-label>Job Description</mat-label>
					<input matInput formControlName="jobDescription" />         
					<mat-error style="color: red;"
						*ngIf="checkError('jobDescription', 'required')">Job Description is required</mat-error>         

				</mat-form-field>
			</div>

			<div class="col-md-6" style="margin-bottom:1rem">
				<mat-form-field appearance="outline" floatLabel="always">
					<mat-label>Select an option</mat-label>
					<mat-select [(value)]="selectedOption">
						<mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!addJobFormGroup.valid">Submit</button> 
		</div>
	</form>
	<br />
</div>